<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
               "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置 log4j 打印 Mybatis 生成的 SQL 语句，参考链接：https://www.cnblogs.com/zhangmms/p/8973068.html -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <!-- 配置此选项后 resultType 不用再写包名 -->
        <package name="com.example.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/how2java"/>
                <property name="username" value="techrice"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="dao/Category.xml"/>
        <mapper class="com.example.mapper.CategoryMapper"/>
        <mapper resource="dao/Product.xml"/>
        <mapper class="com.example.mapper.ProductMapper"/>
        <mapper resource="dao/Order.xml"/>
        <mapper class="com.example.mapper.OrderMapper"/>
        <mapper class="com.example.mapper.OrderItemMapper"/>
    </mappers>
</configuration>